# ODI - Stats for World Cup Venues

All required packages -

In [8]:
install.packages("dplyr")

Installing package into 'C:/Users/Krishma/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Krishma\AppData\Local\Temp\Rtmp63YB2S\downloaded_packages

In [16]:
library(dplyr)

In [10]:
setwd("C:/Users/Krishma/Desktop/KAggle/ODI cricket matches")

In [11]:
data1<- read.csv("originalDataset.csv", header = T, stringsAsFactors = F)
glimpse(data1)

Observations: 3,932
Variables: 7
$ Scorecard  <chr> "ODI # 1", "ODI # 2", "ODI # 3", "ODI # 4", "ODI # 5", "...
$ Team.1     <chr> "Australia", "England", "England", "England", "New Zeala...
$ Team.2     <chr> "England", "Australia", "Australia", "Australia", "Pakis...
$ Winner     <chr> "Australia", "England", "Australia", "England", "New Zea...
$ Margin     <chr> "5 wickets", "6 wickets", "5 wickets", "2 wickets", "22 ...
$ Ground     <chr> "Melbourne", "Manchester", "Lord's", "Birmingham", "Chri...
$ Match.Date <chr> "1/5/1971", "8/24/1972", "8/26/1972", "8/28/1972", "2/11...

In [12]:
sum(is.na(data1))

[1] 0

In [20]:
data2<- read.csv("ContinousDataset.csv", header = T, stringsAsFactors = F)
glimpse(data2)

Observations: 7,494
Variables: 13
$ Unnamed..0    <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,...
$ Scorecard     <chr> "ODI # 1", "ODI # 2", "ODI # 3", "ODI # 4", "ODI # 5"...
$ Team.1        <chr> "Australia", "England", "England", "England", "New Ze...
$ Team.2        <chr> "England", "Australia", "Australia", "Australia", "Pa...
$ Margin        <chr> "Winner2ndInning", "Winner2ndInning", "Winner2ndInnin...
$ Ground        <chr> "Melbourne", "Manchester", "Lord's", "Birmingham", "C...
$ Match.Date    <chr> "1/5/1971", "8/24/1972", "8/26/1972", "8/28/1972", "2...
$ Winner        <chr> "Australia", "England", "Australia", "England", "New ...
$ Host_Country  <chr> "Australia", "England", "England", "England", "New Ze...
$ Venue_Team1   <chr> "Home", "Home", "Home", "Home", "Home", "Home", "Home...
$ Venue_Team2   <chr> "Away", "Away", "Away", "Away", "Away", "Away", "Away...
$ Innings_Team1 <chr> "Second", "Second", "First", "Second", "First", "Seco...
$ Innings_Team2 <chr> "First", "First", "Second", "First", "Second", "First...

In [21]:
sum(is.na(data2))

[1] 0

# Basic EDA on data

Venue specific EDA

In [35]:
# number of countries
Hosts<- length(unique(data2$Host_Country))

Hosts

[1] 20

In [39]:
# total venues
Venues<- length(unique(data2$Ground))

Venues

[1] 161

In [41]:
# number of venues, per country
venue_count<- data2 %>%
select(Host_Country, Ground) %>%
group_by(Host_Country) %>%
summarise(n = length(unique(Ground))) %>%
arrange(desc(n))

venue_count

   Host_Country     n
1  India            34
2  England          20
3  Australia        15
4  West Indies      14
5  New Zealand      13
6  Pakistan         12
7  South Africa     12
8                    6
9  Sri Lanka         6
10 Bangladesh        5
11 Netherlands       4
12 Scotland          4
13 U.A.E.            4
14 Zimbabwe          3
15 Canada            2
16 Ireland           2
17 Kenya             2
18 Hong Kong         1
19 Malaysia          1
20 Papua New Guinea  1

In [42]:
# team count
teams_data1<- length(unique(data1$Team.1))
teams_data2<- length(unique(data2$Team.1))

teams_data1
teams_data2

[1] 24

[1] 23

In [47]:
unique(data1$Team.1)
unique(data2$Team.1)

 [1] "Australia"    "England"      "New Zealand"  "East Africa"  "Sri Lanka"
 [6] "Pakistan"     "India"        "West Indies"  "Canada"       "Bangladesh"
[11] "South Africa" "Zimbabwe"     "U.A.E."       "Netherlands"  "Kenya"
[16] "Scotland"     "Namibia"      "Hong Kong"    "Asia XI"      "Africa XI"
[21] "Bermuda"      "Ireland"      "Afghanistan"  "P.N.G."

 [1] "Australia"    "England"      "New Zealand"  "East Africa"  "Sri Lanka"
 [6] "Pakistan"     "India"        "West Indies"  "Canada"       "Bangladesh"
[11] "South Africa" "Zimbabwe"     "U.A.E."       "Netherlands"  "Kenya"
[16] "Scotland"     "Namibia"      "Hong Kong"    "Bermuda"      "Ireland"
[21] "Afghanistan"  "P.N.G."       "U.S.A."

 - Asia XI and Africa XI missing from data1, missing in data2
 - U.S.A team new in data2, not present in data1